modules = ["python-3.12", "web", "nodejs-20"]
run = "python app.py"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "python app.py"]

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Run Flask App"

[[workflows.workflow]]
name = "Run Flask App"
author = 44606325
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "source venv/bin/activate"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app_group.py"

[[workflows.workflow]]
name = "Reset files"
mode = "sequential"
author = 44606325

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python reset_files.py"
